﻿@model List<Cadmore.Models.DatabaseModels.CustomerModel>

@if (!Model.Any())
{
    <p>Search returned no results.</p>
}
else
{
    <p>The Search returned @Model.Count @(Model.Count == 1 ? "result" : "results")</p>

    <div class="row">
        <div class="col-sm-3">
            <label class="tableLabel">First Name</label>
        </div>
        <div class="col-sm-3">
            <label class="tableLabel">Last Name</label>
        </div>
        <div class="col-sm-3">
            <label class="tableLabel">Email</label>
        </div>
    </div>
    foreach (var model in Model)
    { 
        <div class="row">
            <div class="col-sm-3">
                <p>@(model.FirstName)</p>
            </div>
            <div class="col-sm-3">
                <p>@(model.LastName)</p>
            </div>
            <div class="col-sm-3">
                <p>@(model.Email)</p>
            </div>
        </div>
    }
}
