﻿@model Cadmore.Models.DatabaseModels.VideoModel

<div class="addForm">
    <form enctype="multipart/form-data" action="@(Url.Action("EditVideo", "Home"))" method="POST" id="editForm">

        <div class="row u-mb-xsmall">
            <div class="col-sm-12">
                <div class="field">
                    @Html.Partial("VideoTitle", Model)
                    <div id="result">test</div>
                </div>
            </div>
        </div>
        <div class="row u-mb-xsmall">
            <div class="col-sm-12">
                <div class="field">
                    <label class="fieldLabel">Description</label>
                    <textarea class="textArea" id="editDescription" name="description">@(Model.Description)</textarea>
                </div>
            </div>
        </div>
        <div class="row u-mb-xsmall">
            <div class="col-sm-12">
                <button class="submitButton" onclick="SubmitEdit(this, event);" type="submit">Save</button>
                <button class="cancelButton" type="button" onclick="CancelEdit();">Cancel</button>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <input type="hidden" name="videoId" value="@(Model.Id)" />
    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")