﻿@model List<Cadmore.Models.DatabaseModels.VideoModel>

@if (!Model.Any())
{
    <p>Search returned no results.</p>
}
else
{
    <p>The Search returned @Model.Count @(Model.Count == 1 ? "result" : "results")</p>

    <div class="row">
        <div class="col-sm-3">
            <label class="tableLabel">Title</label>
        </div>
        <div class="col-sm-9">
            <label class="tableLabel">Description</label>
        </div>
    </div>
    foreach (var model in Model)
    {
        <div class="row">
            <div class="col-sm-3">
                <a style="cursor:pointer" onclick="EditVideo('@(model.Id)');">@(model.Title)</a>
            </div>
            <div class="col-sm-9">
                <p>@(model.Description)</p>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-sm-12">
        <h3>Add New Video</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="addForm">
            <form enctype="multipart/form-data" action="@(Url.Action("AddVideo", "Home"))" method="POST" id="addForm">
                <div class="row u-mb-xsmall">
                    <div class="col-sm-12">
                        <div class="field">
                            @Html.Partial("VideoTitle", new Cadmore.Models.DatabaseModels.VideoModel())
                        </div>
                    </div>
                </div>
                <div class="row u-mb-xsmall">
                    <div class="col-sm-12">
                        <div class="field">
                            <label class="fieldLabel">Description</label>
                            <textarea class="textArea" id="addDescription" name="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row u-mb-xsmall">
                    <div class="col-sm-12">
                        <button class="submitButton" onclick="SubmitAdd(this, event);" type="submit">Add</button>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </form>

        </div>
    </div>
</div>