﻿@{ 
    var organizations = (List<Cadmore.Models.DatabaseModels.OrganizationModel>)ViewBag.Organizations;
}

<div class="header">
    <h1>Cadmore Test</h1>
    <div class="orgSelectBox">
        <label class="fieldLabel">Organization:</label>
        <select class="fieldSelect" id="userOrganization" onchange="ChangeOrg();">
            @foreach (var organization in organizations)
            {
                if (Account.OrganizationId == organization.Id)
                {
                    <option selected value="@(organization.Id)">@(organization.OrganizationName)</option>
                }
                else
                {
                    <option value="@(organization.Id)">@(organization.OrganizationName)</option>
                }
            }
        </select>
    </div>
</div>

<div class="row u-mb-medium">
    <div class="col-sm-12">
        <h2>Search:</h2>
        <p>You can search customers or videos.  Use the toggle to select, and then type in a search term.  Click the search button to see results.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <input type="text" maxlength="100" id="searchText" placeholder="Search Term..." />
    </div>
    <div class="col-sm-4">
        <input type="radio" name="searchSelect" id="customersSelect" value="Customers" checked />
        <label class="radioLabel" for="customersSelect">Customers</label>
        <input type="radio" name="searchSelect" id="videosSelect" value="Videos" />
        <label class="radioLabel" for="videosSelect">Videos</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button type="button" onclick="Search();" class="searchButton">Search</button>
    </div>
</div>

<div class="row u-mt-medium">
    <div class="col-sm-12" id="loader" style="display:none;">
        <div class="loader"></div>
    </div>
    <div class="col-sm-12" id="searchResults"></div>
</div>

<div class="modal" style="display:none;" id="modal">
    <div class="editPopup" id="editPopup" style="display: none;">
        <div class="edit-title-container">
            <p class="edit-video-title">Edit Video</p>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        var searchTimeout;
        $(document).ready(function () {

            $('#searchText').on("keydown", function () {

                clearTimeout(searchTimeout);
                searchTimeout = setTimeout(function () {
                    Search();
                }, 1000);
            });
            
            $('#modal').on('click touchend', function (e) {
                e.preventDefault();
                e.stopPropagation();
            });
        });

        function Search() {

            $('#searchResults').empty();
            $('#loader').show();

            var searchValue = $("input[name='searchSelect']:checked").val();

            if (searchValue === "Customers") {
                $.ajax({
                    url: "/Home/SearchCustomers?search=" + $('#searchText').val(),
                    async: true,
                    type: "GET",
                    success: function (data) {
                        $('#searchResults').append(data);
                        $('#loader').hide();
                    },
                    error: function (x, y, z) {
                        console.log(x);
                        console.log(y);
                        console.log(z);
                        console.log(x.responseText);
                        alert("There was an error communicating with the server.");
                    }
                });
            }
            else if (searchValue === "Videos") {
                 $.ajax({
                    url: "/Home/SearchVideos?search=" + $('#searchText').val(),
                    async: true,
                    type: "GET",
                    success: function (data) {
                        $('#searchResults').append(data);
                        $('#loader').hide();
                    },
                    error: function (x, y, z) {
                        console.log(x);
                        console.log(y);
                        console.log(z);
                        console.log(x.responseText);
                        alert("There was an error communicating with the server.");
                    }
                });
            }
        }

        function ChangeOrg() {
            location.href = "/Home/ChangeOrganization?organizationId=" + $('#userOrganization').val();
        }

        function SubmitAdd(ctrl, event) {
            event.preventDefault();
            $(ctrl).hide();
            var error = false;

            if ($('#addTitle').val().trim() === "") {
                error = true;
                $('#addTitle').addClass('fieldError');
            }
            else {
                $('#addTitle').removeClass('fieldError');
            }

            if (!error) {
                $('#addForm').submit();
            }
            else {
                $(ctrl).show();
            }

        }
        
        function EditVideo(videoId) {
            $('#modal').show();

            $.ajax({
                url: "/Home/_Edit?id=" + videoId,
                async: true,
                type: "GET",
                success: function (data) {
                    $('#editPopup').append(data);
                    $('#editPopup').show();
                },
                error: function (x, y, z) {
                    console.log(x);
                    console.log(y);
                    console.log(z);
                    console.log(x.responseText);
                    alert("There was an error trying to communicate with the server.");
                }
            });

        }

        function CancelEdit() {
            $('#editPopup').empty();
            $('#editPopup').hide();
            $('#modal').hide();
        }
        
        function SubmitEdit(ctrl, event) {
            event.preventDefault();
            $(ctrl).hide();
            var error = false;

            if ($('#editTitle').val().trim() === "") {
                error = true;
                $('#editTitle').addClass('fieldError');
            }
            else {
                $('#editTitle').removeClass('fieldError');
            }

            if (!error) {
                $('#editForm').submit();
            }
            else {
                $(ctrl).show();
            }

        }
        
    </script>
}