﻿

<div class="row">
    <div class="col-sm-12">
        <div class="loginBox">
            <form enctype="multipart/form-data" action="@(Url.Action("Login", "Home"))" method="POST" id="loginForm">
                <div class="row u-mb-xsmall">
                    <div class="col-sm-12">
                        <label class="titleLabel">Cadmore Test Login</label>
                    </div>
                </div>
                <div class="row u-mb-xsmall">
                    <div class="col-sm-12">
                        <div class="field">
                            <label class="fieldLabel">User Name:</label>
                            <input type="text" maxlength="100" name="userName" id="userName" />
                        </div>
                    </div>
                </div>
                <div class="row u-mb-xsmall">
                    <div class="col-sm-12">
                        <div class="field">
                            <label class="fieldLabel">Password:</label>
                            <input type="password" maxlength="100" name="password" id="password" />
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                { 
                    <div class="row u-mb-xsmall">
                        <div class="col-sm-12">
                            <p>@(ViewBag.ErrorMessage)</p>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="submitButton">Login</button>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <input type="hidden" name="redirectUrl" value="@(ViewBag.RedirectUrl)" />
            </form>
        </div>
    </div>
</div>

