﻿.loginBox {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
    background-color: #f3f3f3;
    border-radius:5px;
    padding:20px;
}

.titleLabel {
    color: white;
    border-radius: 5px;
    background-color: #007d8b;
    width:100%;
    padding:3px;
    text-align:center;
}

.loader {
    border: 8px solid rgb(255,255,255,0);
    border-radius: 50%;
    border-top: 8px solid rgb(71, 89, 160);
    border-bottom: 8px solid rgb(71, 89, 160);
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 25px;
}

.field {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.row {
    margin-bottom:10px;
}

.submitButton {
    background-color: #007d8b;
    color:white;
    border-radius:3px;
    border:0;
}

.fieldLabel {
    flex:0;
}

.addForm {
    width:350px;
    background-color:#f3f3f3;
    padding:20px;
    border-radius:5px;
    margin-top: 30px;
}

.textArea {
    width:90%;
    margin-left:10px;
}

.modal {
    width:100vw;
    height:100vw;
    background-color:rgba(0,0,0,0.6);
    z-index:1;
}

.editPopup {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: fixed;
}

.edit-title-container {
    background-color: #000000;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.edit-video-title {
    color: #FFFFFF;
}